.side-menu{
  position: fixed;
  overflow-x: hidden;
  height: 100vh;
  width:200px;
  background-color:white;
}

.management-area{
  position: absolute;
  left:200px;
  top:4rem;
  right: 0;
 
}
.flex-container{
  margin:10px 25px;
}